<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="top:100px">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#">
      <i class="fa fa-home"></i>
      <span>Backbone</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href="#backboneApp/welcome">Welcome</a>
      </li>
      <li>
        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href="#backboneApp/externals">Externals</a>
      </li>
    </ul>
  </div>
</nav>