<section class="au-animate">
  <form role="form">
    <div class="form-group">
      <label>Global $.aurelia - <div id="globalJqVer" style="display:inline-block;"></div></label>
      <p class="help-block global-jq-aurelia">undefined</p>
    </div>
    <div class="form-group">
      <label for="fn">Module $.aurelia - <div id="moduleJqVer" style="display:inline-block;"></div></label>
      <input type="text" class="form-control module-jq-aurelia" id="fn">
    </div>
    <div>
      <button class="btn btn-default button-jq-aurelia">Set $.aurelia in module</button>
    </div>
    <br/>
    <div class="form-group">
      <label>Global _.aurelia - <div id="globalUnderVer" style="display:inline-block;"></div></label>
      <p class="help-block global-under-aurelia">undefined</p>
    </div>
    <div class="form-group">
      <label for="fn">Module _.aurelia - <div id="moduleUnderVer" style="display:inline-block;"></div></label>
      <input type="text" class="form-control module-under-aurelia" id="fn">
    </div>
    <div>
      <button class="btn btn-default button-under-aurelia">Set _.aurelia in module</button>
    </div>
    <br/>
    <div class="form-group">
      <label>Global Backbone.aurelia - <div id="globalBackVer" style="display:inline-block;"></div></label>
      <p class="help-block global-backbone-aurelia">undefined</p>
    </div>
    <div class="form-group">
      <label for="fn">Module Backbone.aurelia - <div id="moduleBackVer" style="display:inline-block;"></div></label>
      <input type="text" class="form-control module-backbone-aurelia" id="fn">
    </div>
    <div>
      <button class="btn btn-default button-backbone-aurelia">Set Backbone.aurelia in module</button>
    </div>
  </form>
</section>